# Python
__pycache__
*.pyc
*.egg-info
dist

# Log

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

# Data
playground

pert_imgs/
pert_vids/
*.zip
*cache_dir/
src/
results/eval/NExT-QA/*
sample_images/
tmp.py
kill_proc.sh